#myWork {
  background-color: #2e2e2e;
  // justify-content: space-around;
  color: white;
  // height: 100vh;
  padding: 30px;
}
.titleButtons {
  text-align: center;
}
#myWork .title {
  color: white;
}
.last-projects {
  color: transparent;
  -webkit-text-stroke: 1px white;
}
