#myWork {
  background-color: #2e2e2e;
  // justify-content: space-around;
  color: white;
  // height: 100vh;
  padding: 30px;
}
.titleButtons {
  text-align: center;
}
#myWork .title {
  color: white;
}
.last-projects {
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.code-doodles {
  color: white;
  padding: 10px;
  background: linear-gradient(to right, salmon, #acb6e5);
  width: 40%;
  border-radius: 10px;
  margin: 0 auto;
}
