#header {
  background-color: #2e2e2e;
  color: white;
  height: 100vh;
}
.dark-mode-toggle {
  position: absolute;
  top: 10px;
  align-self: flex-end;
}
.header-emoji {
  font-size: 3em;
  margin: 0;
}
.smile {
  background-image: url('../../img/smile.png');
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.header-headline {
  text-align: center;
  font-size: 2em;
  animation-name: text-focus-in;
  animation-duration: 1s;
}
.header-headline-main {
  animation-name: text-focus-in;
  animation-duration: 1s;
}

.header-social {
  display: flex;
  margin: 1em;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  animation-name: text-focus-in;
  animation-duration: 1s;
}
.header-social-item {
  &:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }
  height: 70px;
}

.scroll-button {
  display: flex;
  flex-direction: column;
  animation-name: bounce-in-fwd;
  animation-delay: 1s, 1s;
  animation-duration: 1s;
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@media (max-width: 600px) {
  .header-emoji {
    font-size: 1.5em;
    margin: 0;
  }
  .header-headline {
    font-size: 1.5em;
  }
  .header-social-item {
    height: 60px;
  }
}
@media (max-width: 500px) {
  .header-emoji {
    font-size: 1.5em;
    margin: 0;
  }
  .header-headline {
    font-size: 1.5em;
  }
  .title {
    font-size: 2em;
  }
  .header-social-item {
    height: 40px;
  }
}
@media (max-width: 300px) {
  .header-emoji {
    font-size: 1.5em;
    margin: 0;
  }
  .header-headline {
    font-size: 1em;
  }
  .title {
    font-size: 1em;
  }
  .header-social-item {
    height: 40px;
  }
}
@media (max-width: 200px) {
  .header-emoji {
    font-size: 1em;
    margin: 0;
  }
  .header-headline {
    font-size: 0.8em;
  }
  .header-social-item {
    height: 30px;
  }
}
// new
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
